@use "@burokku/mixins/breakpoints";

/*
 * Typography
 */
.has-lg-font-size {
	font-weight: var(--wp--custom--typography--font-weight--semi-bold);
}

.has-lead-font-size {
	color: var(--wp--preset--color--gray-400);
}

/*
 * Group Flex Layout
 */
.flow--vertical--mobile.is-layout-flex.wp-block-group {

	@include breakpoints.until('m') {
		flex-flow: column;
	}
}

.flow--vertical--tablet.is-layout-flex.wp-block-group {

	@include breakpoints.until('sm') {
		flex-flow: column;
	}
}
