@use "@burokku/mixins/buttons";
@use "@burokku/mixins/units";
@use "@burokku/mixins/links";

.burokku-footer {

	.burokku-footer-navigation {
		gap: var(--wp--preset--spacing--base);

		.wp-block-navigation-item__content.wp-block-navigation-item__content {

			@include links.decoration-ghost();

			&:hover {
				color: var(--brk-color-link-hover);
			}
		}
	}

	.burokku-footer-copyright {

		a {

			@include links.decoration-ghost();
			color: var(--wp--custom--color--footer--link);

			&:hover {
				color: var(--brk-color-link-hover);
			}
		}
	}
}
