@use "@burokku/mixins/breakpoints";
@use "@burokku/mixins/transitions";
@use "@burokku/mixins/units";

@mixin -default-style() {
	backdrop-filter: blur(11px);
	background-color: light-dark(
		oklab(from var(--wp--custom--color--gray-950) l a b / 40%),
		oklab(from var(--wp--custom--color--gray-950) l a b / 80%)
	) !important;
	inset-block-start: var(--header-inset-block-start--stuck, #{units.rem(30px)}) !important;
	border-radius: var(--wp--preset--border-radius--sm);
	border-width: 1px solid var(--wp--custom--color--gray-900);
}

@mixin -header-backdrop() {
	backdrop-filter: blur(11px);
	background-color: light-dark(
		oklab(from var(--wp--custom--color--gray-950) l a b / 40%),
		oklab(from var(--wp--custom--color--gray-950) l a b / 80%)
	) !important;
}

@mixin -with-adminbar() {

	.admin-bar & {
		--header-inset-block-start: #{units.rem(32px)};
		--header-inset-block-start--stuck: #{units.rem(62px)};
	}
}

@keyframes -sticky-header {

	to {

		@include -default-style();
	}
}

header.burokku-header {

	@include -with-adminbar();
	inline-size: calc(var(--wp--style--global--content-size) - calc(var(--wp--style--root--padding-right) * 2));
	margin: 0 auto;
	max-inline-size: 100%;
	z-index: 999999;

	@supports (container-type: scroll-state) {

		html:not(.has-modal-open) & {
			container-type: scroll-state;
			inset-block-start: var(--header-inset-block-start, 0);
			animation: -sticky-header var(--wp--custom--transition--timing-function) both;
			animation-timeline: scroll(root);
			animation-range: 0 10vb;
			position: sticky;
			border: 0 solid transparent;
		}

		html.has-modal-open & {
			position: fixed;
			inset: 0;
			// Override the `-sticky-header` animation.
			inline-size: 100% !important;
			max-inline-size: 100% !important;
			inset-block-start: 0 !important;
		}
	}

	&--fixed {
		inset-inline: 0;
		position: fixed !important;

		html:not(.has-modal-open) & {

			@include -default-style();
		}
	}
}

.burokku-header-content {

	/*
	 * Navigation
	 */
	.burokku-header-navigation {

		// 600px is the WordPress breakpoint used to distinguish between mobile and desktop navigation.
		@media (min-width: #{units.em(600)}) {

			.wp-block-navigation {
				position: relative;

				&::before {
					background-color: var(--wp--preset--color--gray-800);
					border-radius: var(--wp--preset--border-radius--xxs);
					color: var(--wp--preset--color--white);
					content: '';
					inset: anchor(inside);
					position: absolute;
					position-anchor: --navigation-item;
					transition: inset var(--wp--custom--transition--timing-function) 100ms;
				}
			}

			.wp-block-navigation-item:has(a:is(:hover, :focus-visible)) {
				anchor-name: --navigation-item;
			}
		}

		.wp-block-navigation .wp-block-navigation-item__content {

			@include transitions.colors();
			padding: 0.25em 0.8em;

			&:hover {
				text-decoration: none;
			}
		}

		.wp-block-navigation__responsive-container.has-modal-open {

			@include -header-backdrop();
			padding: var(--wp--preset--spacing--lg);
			padding-block-start: 0;

			.wp-block-navigation__responsive-container-close {
				color: var(--wp--preset--color--white);
			}

			.wp-block-navigation__container {
				gap: var(--wp--preset--spacing--lg) !important;

				a {
					color: var(--wp--preset--color--white);
					font-size: var(--wp--preset--font-size--2-x-lead);

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		@include breakpoints.until("m") {
			inline-size: 100%;
			justify-content: space-between;
		}
	}

	/*
	 * Search
	 */
	.wp-block-search {
		display: none;

		&__input {
			border: none;
		}

		@include breakpoints.screen("m") {
			display: block;
		}
	}
}
