@use "@burokku/mixins/breakpoints";
@use "@burokku/mixins/transitions";
@use "@burokku/mixins/units";

header.wp-block-template-part {

	/*
	 * Navigation
	 */
	.burokku-header-navigation {

		// 600px is the WordPress breakpoint used to distinguish between mobile and desktop navigation.
		@media (min-width: #{units.em(600)}) {
			.wp-block-navigation {
				position: relative;

				&::before {
					background-color: var(--wp--preset--color--gray-800);
					border-radius: var(--wp--preset--border-radius--xxs);
					color: var(--wp--preset--color--white);
					content: '';
					inset: anchor(inside);
					position: absolute;
					position-anchor: --navigation-item;
					transition: inset var(--wp--custom--transition--timing-function) var(--wp--custom--transition--duration);
				}
			}

			.wp-block-navigation-item:has(a:is(:hover, :focus-visible)) {
				anchor-name: --navigation-item;
			}
		}

		.wp-block-navigation .wp-block-navigation-item__content {

			@include transitions.colors();
			padding: 0.25em 0.8em;
		}

		.wp-block-navigation__responsive-container.has-modal-open {
			backdrop-filter: blur(11px);
			background-color: oklab(from var(--wp--custom--color--gray-950) l a b / calc(alpha * 80%)) !important;
			padding: var(--wp--preset--spacing--lg);
			padding-block-start: 0;

			.wp-block-navigation__responsive-container-close {
				color: var(--wp--preset--color--white);
			}

			.wp-block-navigation__container {
				gap: var(--wp--preset--spacing--lg) !important;

				a {
					color: var(--wp--preset--color--white);
					font-size: var(--wp--preset--font-size--2-x-lead);

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		@include breakpoints.until("m") {
			inline-size: 100%;
			justify-content: space-between;
		}
	}

	/*
	 * Search
	 */
	.wp-block-search {
		display: none;

		@include breakpoints.screen("m") {
			display: block;
		}
	}
}
