.wp-block-button.is-style-burokku-outline .wp-block-button__link {
	border: 1px solid var(--wp--preset--color--gray-800);
	background-color: transparent;
	color: var(--wp--preset--color--white);

	&:hover {
		background-color: var(--wp--preset--color--gray-800);
	}
}
