/*
 * Darken a color by mixing a bit of black
 */
@function darken($first-color) {
	@return color-mix(in hsl decreasing hue, #{$first-color} 100%, var(--wp--preset--color--black) var(--wp--custom--mod--darken-amount));
}
