@use "./units";
@use "./transitions";

@mixin decoration() {
	@include transitions.text-decoration();
	text-decoration: underline;
	text-underline-offset: units.rem(4px);

	&:hover {
		text-decoration: underline;
		text-underline-offset: units.rem(7px);
		text-decoration-color: currentColor;
	}
}

@mixin decoration-ghost() {
	@include decoration();
	text-decoration-color: transparent;
}
