/*
 * Main Theme Transitions for Colors
 */
@mixin colors() {

	@include property-transition('color, background-color, border-color, fill, stroke');
}

/**
 * Text Decoration Transitions
 */
@mixin text-decoration() {
	@include property-transition('color, border-color, text-decoration-color, text-underline-offset');
}

/*
 * Theme Property Transition
 *
 * Perform a property transition using the theme's default transition timing function and duration.
 *
 * @param {String} $property The CSS property to apply the transition to.
 */
@mixin property-transition($property) {
	transition-property: #{$property};
	transition-timing-function: var(--wp--custom--transition--timing-function);
	transition-duration: var(--wp--custom--transition--duration);
}
