/*
 * Main Theme Transitions for Colors
 */
@mixin transition-colors() {
	@include property-transition('color, background-color, border-color, text-decoration-color, fill, stroke');
}

/*
 * Theme Property Transition
 *
 * Perform a property transition using the theme's default transition timing function and duration.
 *
 * @param {String} $property The CSS property to apply the transition to.
 */
@mixin property-transition($property) {
	transition-property: $property;
	transition-timing-function: var(--wp--custom--transition--timing-function);
	transition-duration: var(--wp--custom--transition--duration);
}
