@use "@burokku/mixins/units";

code {
	font-weight: var(--wp--custom--font-weight--semi-bold);
	background-color: var(--wp--preset--color--gray-800);
	padding: units.rem(3px) units.rem(4px);
	border-radius: var(--wp--preset--border-radius--xxs);
}
