@use "@burokku/mixins/units";
@use "@burokku/mixins/transitions";

a {

	@include transitions.colors();
	@include transitions.property-transition("text-underline-offset");
	color: currentcolor;
	text-underline-offset: units.rem(4px);

	&:hover:not(.wp-block-button__link) {
		text-underline-offset: units.rem(6px);
	}
}
