@use '@burokku/mixins';

a {
	@include mixins.transition-colors();
	@include mixins.property-transition('text-underline-offset');
	color: currentColor;
	text-underline-offset: 4px;

	&:hover {
		text-underline-offset: 6px;
	}
}
