.wp-block-table {

	td,
	th {
		border: 1px solid var(--wp--preset--color--gray-800);
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--base);
	}

	thead {
		font-weight: var(--wp--custom--typography--font-weight--bold);
		border-block-end-width: 0;
	}

	tfoot {
		border: none;
	}

	.wp-element-caption {
		margin-block-start: var(--wp--preset--spacing--base);
		text-align: center;
	}

	&.is-style-stripes {
		border: none;

		th,
		td {
			border-color: var(--wp--preset--color--gray-800);
		}

		tbody tr {
			background-color: transparent;

			&:nth-child(odd) {
				background-color: transparent;
			}

			&:nth-child(even) {
				background-color: var(--wp--custom--color--gray-900);
			}
		}
	}
}
